<%- include('../header') %>

<div class="row">
    <div class="col-3 bg-faded">
        <%- include('menu') %>
    </div>
    <div class="col-9  blog-sidebar">
        本栏目介绍开源CFD软件OpenFoam的使用方法
    </div>
</div>

<%- include('../footer') %>