<%- include('../header') %>

<div class="blog-header">
    <p>openFoam posts part</p>
</div>
<div class="row">
    <div class="col-3 bg-faded">
        <div>
            <h5 class="ml-4">Index</h5>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#basic">基础教程</a>
                <div class="collapse" id="basic">
                    <a class="nav-link ml-2" href="#">OpenFoam简介</a>
                    <a class="nav-link ml-2" href="#">安装方法</a>
                    <a class="nav-link ml-2" href="#">基础算例</a>
                    <a class="nav-link ml-2" href="#">未完待续。。。</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CFD理论基础</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#examples">海洋工程计算实例</a>
                <div class="collapse" id="examples">
                    <a class="nav-link ml-2" href="#">兴波阻力</a>
                    <a class="nav-link ml-2" href="#">耐波性</a>
                    <a class="nav-link ml-2" href="#">液舱晃荡</a>
                    <a class="nav-link ml-2" href="#">未完待续。。。</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">未完待续。。</a>
            </li>
        </ul>
    </div>
    <div class="col-9  blog-sidebar">
        post
    </div>
</div>

<%- include('../footer') %>