<%- include('../header') %>

<div class="container-fluid">
<div class="row">
    <div class="col-2 bg-faded">
        <%- include('menu') %>
    </div>
    <div class="col-10">
        本栏目介绍开源CFD软件OpenFoam的使用方法
    </div>
</div>
</div>

<%- include('../footer') %>

<script src="/js/openfoam.js"></script>

<%- include('../script') %>