<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= oceany.title %></title>

    <link href="/stylesheets/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/stylesheets/oceany.css" rel="stylesheet">

    <!--favicon and shortcut icon-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<!-- NAVBAR
================================================== -->
<body>

<%- include('nav') %>
<%- include('notification') %>
<%- include('modal-confirme-delete') %>