<!--should not be placed in a parent fixed-->
<div class="modal fade" id="wait-loading" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Loading...
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>