<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-light fixed-top" style="background-color: #e7e7e7">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/" style="padding: 0 0">
        <img id="logo" src="/img/logo_small.png">
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><span class="fa fa-home"></span> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cfd"><span class="fa fa-book"></span> CFD基础</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/openFoam"><span class="fa fa-opera"></span> OpenFoam教程</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span class="fa fa-code"></span> 势流软件 <span
                            class="caret"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/questions"><span class="fa fa-comments"></span> 问答</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="nav navbar-nav mt-2 mt-md-0">
            <li class="nav-item dropdown ml-auto">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span class="fa fa-user"> User</span></a>
                <div class="dropdown-menu">
                    <% if(user) { %>
                    <a class="nav-link" href="/profile">profile</a>
                    <a class="nav-link" href="/publish">Post</a>
                    <a class="nav-link" href="/logout">Log out</a>
                    <% } else { %>
                    <a class="nav-link" href="/signup">Sign up</a>
                    <a class="nav-link" href="/login">Log in</a>
                    <% } %>
                </div>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>