<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0" href="/">
            <img id="logo" src="/images/logo.jpg">
        </a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav-item-home">
                    <a class="nav-link" href="/"><span class="fa fa-home"></span> Home</a>
                </li>
                <li class="nav-item dropdown" id="nav-item-post">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="fa fa-book"></span> 教程中心
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/posts/openfoam">OpenFoam</a>
                        <a class="dropdown-item" href="/posts/nemoh">NemoH</a>
                        <a class="dropdown-item" href="/posts/hos">HOS</a>
                        <a class="dropdown-item" href="/posts/palabos">PALABOS</a>
                        <a class="dropdown-item" href="/posts/openlb">OpenLB</a>
                        <a class="dropdown-item" href="/posts/reef3d">REEF-3D</a>
                        <a class="dropdown-item" href="/posts/fluidty">FLUIDTY</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-code"></span> 技术咨询
                    </a>
                </li>
                <li class="nav-item" id="nav-item-newsletters">
                    <a class="nav-link" href="/posts/newsletters"><span class="fa fa-newspaper-o"></span> 行业新闻</a>
                </li>
                <li class="nav-item" id="nav-item-questions" hidden>
                    <a class="nav-link" href="/questions"><span class="fa fa-comments"></span> 问答</a>
                </li>
                <li class="nav-item" id="nav-item-about">
                    <a class="nav-link" href="/about"><span class="fa fa-phone"></span> 联系我们</a>
                </li>
                <li class="nav-item" id="nav-item-archive">
                    <a class="nav-link" href="/posts/archive"><span class="fa fa-archive"></span> 存档</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/posts/search" method="get">
                <div class="inner-addon left-addon">
                    <span class="fa fa-search"></span>
                    <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="搜索文章标题">
                </div>
            </form>
            <ul class="navbar-nav mt-2 mt-md-0 ml-1 mr-3">
                <li class="nav-item dropdown ml-auto">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><span class="fa fa-user fa-lg"></span></a>
                    <div class="dropdown-menu">
                        <% if(user) { %>
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <!--the user admin can publish-->
                        <% if (user.role == 'author' || user.role == 'admin' ) { %>
                        <a class="dropdown-item" href="/posts/create">Publish</a>
                        <% } %>
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <% } else { %>
                        <a class="dropdown-item" href="/signup">Sign up</a>
                        <a class="dropdown-item" href="/login">Log in</a>
                        <% } %>
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>