<div>
    <% if (success) { %>
    <div class="alert alert-success">
        <strong>Success!</strong>
        <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-warning">
        <strong>Warning!</strong>
        <%= error %>
    </div>
    <% } %>
</div>