<% if (success) { %>
<div class="alert alert-success fade show notification">
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    <strong>Success!</strong>
    <%= success %>
</div>
<% } %>

<% if (error) { %>
<div class="alert alert-warning fade show notification">
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    <strong>Warning!</strong>
    <%= error %>
</div>
<% } %>