<div class="container">
    <div class="blog-header">
        <p>cfd single post part</p>
    </div>
    <div class="row">
        <div class="col-sm-2  blog-sidebar">
            Menu <br>
            Author
        </div>
        <div class="col-sm-9 col-sm-offset-1 blog-main">
            <%- include('post-content') %>
            <%- include('comments') %>
        </div>
    </div>
</div>