<%- include header %>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form method="post">
                标题：<br>
                <input type="text" name="title" value="<%= post.title %>"><br>
                正文：<br>
                <input type="text" name="content" value="<%= post.content %>"><br>
                <button type="submit" class="btn btn-info">发表</button>
            </form>
        </div>
    </div>
</div>

<%- include footer %>