<!-- FOOTER -->
<footer >
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/sgxgithub/oceany-blog">Github</a>
        </li>
    </ul>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
<!-- Bootstrap core JavaScript -->
<script src="/js/tether.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap-4.0.0-alpha.6.min.js"></script>