<%- include('header') %>

<link href="css/login.css" rel="stylesheet">

<div class="container">
    <form class="form-login" method="post">
        <h3 class="form-login-heading">登陆</h3>
        <div class="form-group">
            <label for="name">用户名</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="User name" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>
    <div id="strategies">
        快速登录 <a href="/login/github"><span class="fa fa-github fa-2x"></span></a>
    </div>
</div> <!-- /container -->

<%- include('footer') %>
<%- include('script') %>