<%- include header %>

<div class="container" style="width: 60%">
    <form class="form" enctype='multipart/form-data' action="/publish//uploadPost" method="post">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="postFile">HAHA</label>
            <div class="col-10">
                <input type="file" name="postFile" class="form-control-file" id="postFile">
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Upload</button>
    </form>

    <form method="post">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-title">标题</label>
            <div class="col-10">
                <input class="form-control" type="text" name="title" id="post-title">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-section">Section：</label>
            <div class="col-10">
                <select class="form-control" name="section" id="post-section">
                    <option>CFD</option>
                    <option>OpenFoam</option>
                    <option>Softwares</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="post-index">Index：</label>
            <div class="col-10">
                <input type="text" class="form-control" name="index" id="post-index"
                       placeholder="examples: 1, 2, 1.1, 2.5...">
            </div>
        </div>

        <div class="form-group">
            <label for="post-content">正文:</label>
            <textarea class="form-control" name="content" id="post-content" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-info">发表</button>
    </form>
</div>

<%- include footer %>