<%- include('header') %>
<%- include('components/nav') %>

<div class="container">
  
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    
    <div class="form-group">
      <label for="inputEmail" >Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1">用户名</label>
      <input type="text" class="form-control" id="exampleInputUsername" placeholder="Enter user name">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">密码</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">确认密码</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <div class="form-group">
      <label for="exampleSelect1">性别</label>
      <select class="form-control" id="exampleSelect1">
        <option>男</option>
        <option>女</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleTextarea">个人简介</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">头像</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
    </div>         
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  
</div> <!-- /container -->

<%- include('footer') %>