.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 25px auto;
}

.form-login .form-signin-heading,
.form-login .checkbox {
    margin: 10px 0;
}

.form-login .checkbox {
    font-weight: normal;
}