<div class="row">
    <div class="col">
        <img src="images/consult/marine_energy.png" alt="Card image cap" class="img-thumbnail">
    </div>
    <div class="col">
        <img src="images/consult/naval.png" alt="Card image cap" class="img-thumbnail">
    </div>
    <div class="col">
        <img src="images/consult/offshore.png" alt="Card image cap" class="img-thumbnail">
    </div>
</div>