<div class="row my-3">
    <div class="col">
        <img src="http://orwbxzl93.bkt.clouddn.com/marine_energy.png" alt="Card image cap" class="img-thumbnail">
    </div>
    <div class="col">
        <img src="http://orwbxzl93.bkt.clouddn.com/naval.png" alt="Card image cap" class="img-thumbnail">
    </div>
    <div class="col">
        <img src="http://orwbxzl93.bkt.clouddn.com/offshore.png" alt="Card image cap" class="img-thumbnail">
    </div>
</div>