<%- include('../components/header') %>

<div class="container">
    <%- include('introduction') %>
    <%- include('images') %>
</div>

<%- include('../components/footer') %>

<script src="/javascripts/consult.js"></script>

</body>
</html>