<div class="my-3">
    <p>SEASIM是海洋工程流体模拟领域的专业咨询公司。我们以开源软件为基础，开展数值模拟、技术咨询和软件开发服务，利用独特的价格优势，向客户提供优质的、快速的流体仿真和产品流体性能分析的解决方案。</p>

    <p> 公司核心技术包括：</p>
    <ul>
        <li>海洋波浪环境模拟:
            使用波浪环境模拟软件HOS-Ocean和海浪环境统计数据，在短时间内精确获得给定海域内波浪环境的长时间演化结果。模拟的空间尺度可以达到数十平方千米，可以预测波浪在数小时甚至数天内的演化。为波浪能发电设备、船舶或海洋平台，以及海上和近岸结构物设计提供准确的波浪环境数据。
        </li>
        <li>浮体流体性能快速分析和优化
            使用水动力性能分析软件Nemoh，快速分析波浪能发电设备、船舶或海洋平台以及海上和近岸结构物的在波浪作用下的载荷和运动，可以用于评估产品的水动力性能。由于其快速性，非常适合在产品设计之初的迭代优化过程。
        </li>
        <li>基于CFD的流体性能精确计算
            使用CFD软件OpenFOAM®建立虚拟海洋环境，精确分析波浪能发电设备、船舶或海洋平台以及海上和近岸结构物在波浪当中运动的流场细节，提供更为全面和准确的水动力性能信息。模拟结果精确可靠，可为产品设计后期优化和定型提供精确的模拟数据。
        </li>
    </ul>


    <p>以核心技术为依托，公司向客户提供以上软件的使用培训、技术咨询、软件开发和云计算服务</p>

    <p> 公司技术团队在以下领域有着丰富的技术经验：</p>
    <ul>
        <li>海洋可再生能源</li>
        <li>船舶水动力</li>
        <li>海洋工程</li>
    </ul>

    <p>详情请与我们联系contact@seasim.com</p>
</div>