<%- include('../header') %>

<div class="container-fluid">
<div class="row">
    <div class="col-2 bg-faded">
        <%- include('../components/menu') %>
    </div>
    <div class="col-10  blog-sidebar">
        本栏目介绍海洋工程水动力的理论基础。包括海洋环境中的风，浪，流的统计和模拟模型以及海洋环境与海上结构之间的相互影响。
    </div>
</div>
</div>

<%- include('../footer') %>

<script src="/js/cfd.js"></script>

<%- include('../script') %>