<%- include('../header') %>

<div class="row">
    <div class="col-3 bg-faded">
        <%- include('menu') %>
    </div>
    <div class="col-9  blog-sidebar">
        本栏目介绍海洋工程水动力的理论基础。包括海洋环境中的风，浪，流的统计和模拟模型以及海洋环境与海上结构之间的相互影响。
    </div>
</div>

<%- include('../footer') %>