.poster {
    height: 227px;
    width: 330px;
}

.media-body {
    height: 227px;
    overflow-y: hidden;
    position: relative;
}

.post-text-short {
    max-height: 120px;
    overflow-y: hidden;
}

.dropdown-menu {
    min-width: 1.2rem;
}

/*comments part*/
.media-img-container {
    height: 64px;
    width: 64px;
}