.team-member {
    overflow: hidden;
}

.team-member,
.team-member .team-img {
    position: relative;
    text-align: center;
}

.team-member .team-img img {
    width: 80%;
    height: auto;
}


/*tem hover animation*/
.team-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    border: 20px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .9);
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}

.team-member:hover .team-hover .desk {
    top: 35%;
}

.team-hover .desk {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: all .3s .2s;
    transition: all .3s .2s;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    opacity: 0;
}

.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: all .3s .2s;
    transition: all .3s .2s;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    text-align: center;
    opacity: 0;
    font-size: 35px;
}
