/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
    height: 100%;
}

body {
    padding-top: 3.5rem;
    padding-bottom: 100px;
    color: #5a5a5a;
    min-height: 100%;
    position: relative;
}

/*
 * Navbar
 */
.navbar {
    background: #4682B4;
}

.navbar .dropdown-menu {
    min-width: 2rem;
    background: #4682B4;
    /*left:-1rem;*/
}

.navbar .dropdown-item:hover {
    background: #4682B4;
    color: rgba(255, 255, 255, 0.5);
}

.navbar .dropdown-item {
    color: rgba(255, 255, 255, 0.75);
    padding: 0.3rem 0.5rem;
}

.dropdown-toggle::after {
    display: none;
}

#logo {
    max-height: 2.5rem;
    margin: 0 0;
}

/*
 * Notification
 */
.alert {
    margin-bottom: 0;
}

/*
 * Footer
 */
footer {
    text-align: center;
    background-color: #4682B4;
    border-top: .05rem solid yellow;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer p:last-child {
    margin-bottom: 0;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
}

footer a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

/* css for search form in navbar */
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}