.sidebar.collapse.show {
    visibility: visible;
    display: block;
    margin-left: 0;
}

.sidebar.collapse {
    display: block;
    margin-left: -25%; /* same width as sidebar */
}

#sidebar {
    position: sticky;
    top: 56px;
    height: 30rem;
    -webkit-transition: margin .35s ease;
    -moz-transition: margin .35s ease;
    -o-transition: margin .35s ease;
    transition: margin .35s ease;
}

.dropdown-menu {
    min-width: 1.2rem;
}

/*comments part*/
.media-img-container {
    height: 64px;
    width: 64px;
}
