body{
    padding-bottom: 0;
}

.sidebar.collapse.show {
    visibility: visible;
    display: block;
    margin-left: 0;
}

.sidebar.collapse {
    display: block;
    margin-left: -25%; /* same width as sidebar */
}

#sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    height: auto;
    -webkit-transition: margin .35s ease;
    -moz-transition: margin .35s ease;
    -o-transition: margin .35s ease;
    transition: margin .35s ease;
}

#main {
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-transition:max-width .35s ease;
    -moz-transition: max-width .35s ease;
    -o-transition: max-width .35s ease;
    transition: max-width .35s ease;
}

.dropdown-menu {
    min-width: 1.2rem;
}

/*comments part*/
.media-img-container {
    height: 64px;
    width: 64px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 120px;
    right: 20px;
    display: none;
}