.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/*
 * Blog post
 */

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

/*
 * Blog posts
 */

.blog-posts {
    margin-bottom: 25px;
    border-top: .05rem solid #e5e5e5;
    border-bottom: .05rem solid #e5e5e5;
}
.blog-posts-title {
    margin-bottom: 5px;
    font-size: 30px;
}
.blog-posts-meta {
    margin-bottom: 20px;
    font-size: 16px;
    color: #999;
}


/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}