<%- include('../components/header') %>

<link href="/stylesheets/about.css" rel="stylesheet">

<div class="container">
    <%- include('introduction') %>
</div>

<%- include('../components/footer') %>

<script src="/javascripts/about.js"></script>

</body>
</html>