<div class="my-3">
    <p>SEASIM的管理团队现有5人，均拥有海外留学经历。技术团队3人为国外知名高校的博士，掌握最前沿的行业技术，拥有广泛的研究经验和国际化的视角。此外，团队中还包括网络安全和云计算工程师1名和公司运营、宣传负责人1名。</p>
    <div class="row">
        <div class="col py-5">
            <div class="team-member">
                <div class="team-img">
                    <img src="images/team/zhaobin.png">
                </div>
                <div class="team-hover text-center">
                    <div class="desk">
                        <h4>海洋工程博士</h4>
                        <p>优势专长：海洋工程动力学</p>
                    </div>
                    <div class="s-link">
                        <small>zhaobin.li@seasim.cn</small>
                    </div>
                </div>
            </div>
            <div class="team-title  text-center">
                <h5>李曌斌</h5>
                <p class="text-muted">FOUNDER & CEO</p>
            </div>
        </div>
        <div class="col py-5">
            <div class="team-member">
                <div class="team-img">
                    <img src="images/team/wenjin.png">
                </div>
                <div class="team-hover text-center">
                    <div class="desk">
                        <h4>海洋工程博士</h4>
                        <p>优势专长：CFD软件培训&开发</p>
                    </div>
                    <div class="s-link">
                        <small>wenjin.cao@seasim.cn</small>
                    </div>
                </div>
            </div>
            <div class="team-title text-center">
                <h5>曹文瑾</h5>
                <p class="text-muted">CO-FOUNDER，R&D</p>
            </div>
        </div>
        <div class="col py-5">
            <div class="team-member">
                <div class="team-img">
                    <img src="images/team/xuhui.png">
                </div>
                <div class="team-hover text-center">
                    <div class="desk">
                        <h4>海洋工程博士</h4>
                        <p>优势专长：海洋工程动力学</p>
                    </div>
                    <div class="s-link">
                        <small>xuhui.li@seasim.cn</small>
                    </div>
                </div>
            </div>
            <div class="team-title  text-center">
                <h5>李旭晖</h5>
                <p class="text-muted">CO-FOUNDER，CTO</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="team-member">
                <div class="team-img">
                    <img src="images/team/guoxin.png">
                </div>
                <div class="team-hover text-center">
                    <div class="desk">
                        <h4>计算机硕士</h4>
                        <p>优势专长：云计算</p>
                    </div>
                    <div class="s-link">
                        <small>guoxin.sui@seasim.cn</small>
                    </div>
                </div>
            </div>
            <div class="team-title  text-center">
                <h5>隋国新</h5>
                <p class="text-muted">CO-FOUNDER，CIO</p>
            </div>
        </div>
        <div class="col">
            <div class="team-member">
                <div class="team-img">
                    <img src="images/team/jingru.png">
                </div>
                <div class="team-hover text-center">
                    <div class="desk">
                        <h4>数字商业及信息技术硕士</h4>
                        <p>优势专长：企业宣传，运营</p>
                    </div>
                    <div class="s-link">
                        <small>jingru.wang@seasim.cn</small>
                    </div>
                </div>
            </div>
            <div class="team-title text-center">
                <h5>王靖如</h5>
                <p class="text-muted">CO-FOUNDER，COO</p>
            </div>
        </div>
        <div class="col">s
            <div class="team-member">
                <div class="team-img">
                    <img src="images/team/we_need_you.png">
                </div>
                <div class="team-hover text-center">
                    <div class="desk">
                        <h4>简历投至：</h4>
                        <p>contact@seasim.cn</p>
                    </div>
                    <div class="s-link">
                        <small>contact@seasim.cn</small>
                    </div>
                </div>
            </div>
            <div class="team-title  text-center">
                <h5>We need you !</h5>
            </div>
        </div>
    </div>


</div>