<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Four columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="mx-auto d-block my-2" src="http://orwbxzl93.bkt.clouddn.com//training.png" alt="Generic placeholder image" width="280" height="210">
            <h3>用户培训</h3>
            <p>在线软件教程</p>
            <p>定制化专业培训</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="mx-auto d-block my-2" src="http://orwbxzl93.bkt.clouddn.com//consulting.png" alt="Generic placeholder image" width="280" height="210">
            <h3>计算咨询</h3>
            <p>软件技术支持</p>
            <p>计算外包服务</p>
            <p>云计算平台</p>
        </div><!-- /.col-3 -->
        <div class="col-lg-4">
            <img class="mx-auto d-block my-2" src="http://orwbxzl93.bkt.clouddn.com//developping.png" alt="Generic placeholder image" width="280" height="210">
            <h3 class="mx-auto">程序开发</h3>
            <p>专用求解器制定</p>
            <p>程序接口开发</p>
            <p><a class="btn btn-secondary" href="/#" role="button">View details &raquo</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>