<div class="container my-3">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top mx-auto" src="images/training.png" alt="Card image cap" width="300" height="180">
            <div class="card-block mx-auto">
                <h4 class="card-title">用户培训</h4>
                <p class="card-text">在线软件教程</p>
                <p class="card-text">定制化专业培训</p>
            </div>
            <div class="card-footer text-center">
                <small><a href="/consult">了解详情>></a></small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mx-auto" src="images/consulting.png" alt="Card image cap" width="300" height="180">
            <div class="card-block mx-auto">
                <h4 class="card-title">计算咨询</h4>
                <p class="card-text">软件技术支持</p>
                <p class="card-text">计算外包服务</p>
                <p class="card-text">云计算平台</p>
            </div>
            <div class="card-footer text-center">
                <small><a href="/consult">了解详情>></a></small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mx-auto" src="images/developping.png" alt="Card image cap" width="300" height="180">
            <div class="card-block mx-auto">
                <h4 class="card-title">程序开发</h4>
                <p class="card-text">专用求解器制定</p>
                <p class="card-text">程序接口开发</p>
            </div>
            <div class="card-footer text-center">
                <small><a href="/consult">了解详情>></a></small>
            </div>
        </div>
    </div>
</div>