<nav>
    <ul class="pagination justify-content-center">
        <% if (!isFirstPage) { %>
        <li class="page-item">
            <a class="page-link" href="?page=<%= page - 1 %>" tabindex="-1">&laquo;</a>
        </li>
        <% } %>
        <% for(var i = 1; i < pagesCount + 1; i++) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (!isLastPage) { %>
        <li class="page-item">
            <a class="page-link" href="?page=<%= page + 1 %>">&raquo;</a>
        </li>
        <% } %>
    </ul>
</nav>