<div class="container">
    <div class="row">
        <div>
            <h5 class="blog-posts-title"><a href="/<%= section %>/<%= post._id %>"><%- post.index %> <%- post.title %></a></h5>
        </div>
    </div>
</div>